*{
   
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.nav{
    background-color:black;
    width:1300px;
    height:50px;
}
body{
    background-color: #000053;
}
h1{
    color:white;
    text-align: center;
    line-height: 1.5;
}
.choices {
    display: flex;
    justify-content: center;
    height: 105px;
    gap: 20px;
    margin-top: 20px;
}
.choice{
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    border: 0;
}
button:hover{
    cursor: pointer;
}
img{
    width: 135px;
    height:110px;
}

.scoreboard {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 25px;
    width: auto;
    margin-bottom: 20px;
}
.score{
    color:white;
    font-style: italic;
    font-weight: bolder;
}
.score p{
    font-size: 2rem;
    font-weight: bold;
}
.result{
    display: flex;
    justify-content: center;
    align-items: center;
}
.result p{
    line-height: 2rem;
    text-align: center;
    display: inline;
    background-color: darkblue;
    font-size: 1rem;
    font-weight: bold;
    width:300px;
    height: 40px;
    color: white;
    padding: 1px;
    margin-top: 25px;
    border-radius: 0.5rem;
}
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.image{
    width: 40vw;
    height: 40vh;
    object-fit: cover;
}
.divimg{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    gap: 30px;
}
.icon i{
    width: 80px;
    height: 70px;
}
a i{
    cursor: pointer;
}
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  .centered {
    position: absolute;
    font-style: oblique;
    font-weight: bold;
    font-size: xx-large;
    top: 15%;
    left: 48%;
    transform: translate(-50%, -50%);
  }
  .icon{
    position: absolute;
    top: 60%;
    left: 24%;
    font-size: 20px;
    gap:0px;

  }
  .nav2bar{
    position: absolute;
    width:550px;
    height:40px;
    font-style: oblique;
    font-weight: bold;
    font-size: x-large;
    padding: 10px;
    color: white;
    background-color: black;
  }
  @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hidden {
    display: none;
}

.visible {
    position: absolute;
    font-size: xx-large;
    font-weight: bold;
    top:20%;
    left:44%;
    animation-name: fadeIn;
    color: #000;
}
.hidden2{
    display:none;
}

  .container{
    visibility: hidden;
    position: absolute;
    top:30%;
    left:30%;
    
  }
  .openmodaldialog{
    visibility: visible;
  }
  .blur{
    filter: blur(1px);
  }
  